<html>
    <body>
        <form method="post" action="/loginprocess">
            NAME : <input type="text" name="txt1"/>
            EMAIL : <input type="email" name="txt2">
            MOBILE NO : <input type="contact" name="txt3">
            <br>
            <br>
            <input type="submit"/>

        </form>
    </body>
</html>